<div class="fra__section-service-headband">
    <div class="scrolling_text">
        <div class="text">
            <span>RETRAITE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>ÉPARGNE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PATRIMOINE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>FAMILLE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PROTECTION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>TRANSMISSION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>RETRAITE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>ÉPARGNE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PATRIMOINE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>FAMILLE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PROTECTION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>TRANSMISSION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>RETRAITE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>ÉPARGNE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PATRIMOINE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>FAMILLE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PROTECTION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>TRANSMISSION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
        </div>
        <div class="text">
            <span>RETRAITE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>ÉPARGNE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PATRIMOINE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>FAMILLE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PROTECTION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>TRANSMISSION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>RETRAITE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>ÉPARGNE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PATRIMOINE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>FAMILLE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PROTECTION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>TRANSMISSION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>RETRAITE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>ÉPARGNE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PATRIMOINE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>FAMILLE</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>PROTECTION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
            <span>TRANSMISSION</span>
            <img class="fra__section-service--star" src="../../../../../assets/star.svg" alt="star" />
        </div>
    </div>
</div>