<div class="fra__section-service-numbers">
    <div>
        <div class="fra__section-service-numbers-title">
            1/2
        </div>
        <div class="fra__section-service-numbers-content">
            <span>
                personne exprime son insatisfaction à l'égard des services de
                son
                conseiller bancaire.
            </span>
        </div>
    </div>
    <div class="fra__section-service-divider"></div>
    <div>
        <div class="fra__section-service-numbers-title">
            68<div class="fra__section-service-numbers-percent"><span>%</span></div>
        </div>
        <div class="fra__section-service-numbers-content">
            <span>
                des personnes estiment que leur conseiller n'a pas pris en compte leurs besoins et leurs objectifs.
            </span>
        </div>
    </div>
    <div class="fra__section-service-divider"></div>
    <div>
        <div class="fra__section-service-numbers-title">
            30<div class="fra__section-service-numbers-percent"><span>%</span></div>
        </div>
        <div class="fra__section-service-numbers-content">
            <span>
                des contribuables reconnaissent des erreurs dans leurs déclarations fiscales des cinq dernières années.
            </span>
        </div>
    </div>
</div>