<div class="fra__header">
  <div class="fra__header-left">
    <h1>François Moiroux</h1>
  </div>
  <div class="fra__header-center">
    @for (menuOption of homePageMenu; track menuOption.name) {
    <a class="menu-chip link-active" [class.active]="activeMenu == menuOption.name"
      (click)="handleMenuItemClick(menuOption.name); onClick(menuOption.id)">{{ menuOption.name }}</a>
    }
  </div>
  <div class="fra__header-right">
    <p-button label="Commencer ma simulation" icon="pi pi-bolt" severity="info" iconPos="right"></p-button>
  </div>
</div>
<div #main id="main">
  <app-main></app-main>
</div>
<div class="fra__section-service">
  <div #who id="who">
    <app-headband></app-headband>
  </div>
  <app-numbers></app-numbers>
  <app-content></app-content>
  <app-cards></app-cards>
  <app-bluebox></app-bluebox>
  <div #service id="service">
    <app-form></app-form>
  </div>
  <app-begin></app-begin>
</div>

<app-footer></app-footer>