.fra {
    &__header {
        position: fixed;
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 24px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border: 1px solid var(--BlueGray-BlueGray-800, #1e293b);
        border-radius: var(--8, 16px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--BlueGray-BlueGray-800, #1e293b);
        background: linear-gradient(97deg, #0f172a -17.22%, #0d1b3f 156.6%);

        &-left {
            color: var(--Base-White, #fff);
            margin-left: 24px;
            font-family: "Urbanist", sans-serif;
        }

        &-center {
            color: var(--BlueGray-BlueGray-400, #94a3b8);
            display: flex;
            font-family: "Urbanist", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            justify-content: center;
            gap: 32px;
        }
        &-right {
            margin-right: 24px;
        }
    }

    &__section {
        &-main {
            height: 100vh;
            background-image: url("../../../assets/main_background.svg"), linear-gradient(#0a101f, #0a101f);
            background-repeat: no-repeat, repeat;
            background-position: center center;
            background-size:
                auto 100%,
                cover;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-desc {
                text-align: center;
                font-family: "Urbanist", sans-serif;
                font-size: 64px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 756px;
                color: white;
            }
            &-subdesc {
                color: var(--Cyan-Cyan-300, #67e8f9);
                text-align: center;
                font-family: "Urbanist", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                padding-top: 1rem;
                padding-bottom: 2rem;
            }
            &-tag {
                padding-bottom: 1rem;
            }
            &-buttons {
                gap: 1rem;
                display: flex;
            }
            &-bottom-right {
                position: absolute;
                right: 48px;
                bottom: 32px;
                color: #0b5f76;
                &-text {
                    color: var(--Base-White, #fff);
                    font-family: "Urbanist", sans-serif;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-align: right;
                    justify-content: end;
                    display: flex;
                    align-items: center;
                }
            }
        }
        &-service {
            background-color: #1e293b;
            height: 800px;
        }
        &-who {
            background-color: #0f172a;
            height: 800px;
        }
    }
}

.link-active {
    position: relative;
    text-align: center;
    &.active {
        color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px; /* Ajustez cette valeur pour déplacer le point vers le haut ou vers le bas */
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 4px;
            background-color: #67e8f9; /* Couleur du point */
            border-radius: 50%;
        }
    }
    &:hover {
        color: white;
        cursor: pointer;
    }
}

:host ::ng-deep {
    .p-button.p-button-info,
    .p-buttonset.p-button-info > .p-button,
    .p-splitbutton.p-button-info > .p-button {
        background: #0e7490 !important;
        border: #0e7490 !important;
    }
    .p-button.p-button-info:not(:disabled):hover,
    .p-buttonset.p-button-info > .p-button:not(:disabled):hover,
    .p-splitbutton.p-button-info > .p-button:not(:disabled):hover {
        background: #0b5f76 !important;
        border: #0b5f76 !important;
    }

    .p-tag-warning {
        background: rgba(253, 224, 71, 0.2) !important;
        color: #fef08a !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        border: 1px solid #fef08a !important;
    }

    .p-tag-danger {
        border-radius: 32px !important;
        background: #f63b3b00 !important;
        color: #fff !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        border: 1px solid red !important;
    }
}
