<div class="fra__section-service-begin">
  <div class="fra__section-service-begin--content">
    <div class="fra__section-service-begin--text">
      <span class="fra__section-service-begin--text1">Prêt à façonner</span>
      <span class="fra__section-service-begin--text2"
        >votre avenir financier ?</span
      >
    </div>
    <div class="fra__section-service-begin--button">
      <p-button
        label="Commencer ma simulation"
        icon="pi pi-bolt"
        severity="secondary"
        iconPos="right"
      ></p-button>
    </div>
  </div>
</div>
