<div class="fra__section-service-form">
  <div class="fra__section-service-form--description">
    <div class="fra__section-service-form--description-icon">📅</div>
    <div style="text-align: center">
      <span>Notre simulateur sera bientôt en ligne, revenez bientôt...</span>
    </div>
  </div>
  <div class="fra__section-service-form--content">
    <div class="fra__section-service-form--title">
      <span>⚡ Votre simulation en quelques clics</span>
    </div>

    <img
      class="fra__section-service-form--description-img"
      src="../../../../../assets/simulateur.png"
      alt="img_form"
    />
  </div>
</div>
