<div class="multiple">
  <div class="multiple__content">
    <div class="multiple__header">
      <div class="multiple__title">{{ name }} :</div>
      <div class="multiple__icon" (click)="removeFinancial()">
        <i class="pi pi-times"></i>
      </div>
    </div>
    <div class="multiple__selector">
      Vous possédez
      <p-dropdown
        [(ngModel)]="selectedAssuranceType"
        optionLabel="name"
        [options]="assurances"
        (onChange)="onAssuranceTypeChange($event)"
        placeholder="Choisissez un type d’épargne"
      ></p-dropdown>
      , d’un montant de
      <input
        type="number"
        pInputText
        placeholder="Saisir une valeur"
        (ngModelChange)="onAmountChange($event)"
        [(ngModel)]="amount"
      />
      €, @if(selectedAssuranceType && selectedAssuranceType.name === 'Une assurance vie') { avec en
      clause bénéficiaire
      <p-dropdown
        [(ngModel)]="selectedBeneficiary"
        optionLabel="name"
        [options]="beneficiaries"
        (onChange)="onBeneficiaryChange($event)"
        placeholder="Choisissez une option"
      ></p-dropdown>
      }@else if(selectedAssuranceType && selectedAssuranceType.name === 'Un PEL') { ouvert en
        <p-calendar
          [(ngModel)]="dynamicFormService.pelCreationDate"
          [iconDisplay]="'input'"
          [touchUI]="true"
          [showIcon]="true"
          view="year"
          dateFormat="yy"
          (onSelect)="selectPelCreationDate()"
        ></p-calendar>
        } 
    </div>
  </div>
</div>
