.fra {
  &__section {
    &-main {
      height: 100vh;
      background-image: url("../../../../../assets/main_background.svg"),
        linear-gradient(#0a101f, #0a101f);
      background-repeat: no-repeat, repeat;
      background-position: center center;
      background-size: auto 100%, cover;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-buttons {
        justify-content: center;
        gap: 1rem;
        display: flex;
      }

      &-desc {
        text-align: center;
        font-family: "Urbanist", sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: white;
      }

      &-subdesc {
        color: var(--Cyan-Cyan-300, #67e8f9);
        text-align: center;
        font-family: "Urbanist", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        padding-top: 1rem;
        padding-bottom: 2rem;
      }

      &-tag {
        padding-bottom: 1rem;
      }

      &-bottom-right {
        position: absolute;
        right: 48px;
        bottom: 32px;
        color: #0b5f76;

        &-text {
          color: var(--Base-White, #fff);
          font-family: "Urbanist", sans-serif;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-align: right;
          justify-content: flex-end;
          display: flex;
          align-items: center;
        }
      }

      &-arrow-img {
        position: absolute;
        transform: translate(-290px, 75px);
      }

      &-vector-img {
        position: absolute;
        transform: translate(180px, -40px);
      }

      &-misc01-img {
        position: absolute;
        transform: translate(396px, -118px);
      }

      &-misc02-img {
        position: absolute;
        transform: translate(374px, -105px);
      }
    }
  }
}

@media (max-width: 1023px) {
  .fra__section-main-bottom-right {
    right: 24px;
  }

  .fra__section-main-buttons {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100% !important;

    p-button {
      width: 95%;
    }
  }
  .fra__section-main-arrow-img,
  .fra__section-main-misc01-img,
  .fra__section-main-misc02-img {
    display: none;
  }

  .fra__section-main-vector-img {
    transform: translate(98px, -76px);
    width: 179px;
  }

  .fra__section-main-desc {
    font-size: 32px;
    line-height: 130%;
  }

  .fra__section-main-subdesc {
    font-size: 16px;
  }
}

@media (max-width: 679px) {
  .fra__section-main-bottom-right {
    right: 16px;
  }
}
