<div #footer id="footer" class="fra__section-footer">
    <div class="fra__section-footer--content">
        <div class="fra__section-footer--content-name">
            <span>François Moiroux</span>
        </div>
        <div class="fra__section-footer--content-divider"></div>
        <div class="fra__section-footer--content-bottom">
            <div>
                <span>© 2024 Moiroux Tech. Tous droits réservés</span>
            </div>
            <div class="fra__section-footer--content-bottom-right">
                <div>
                    <span>Politique de confidentialité</span>
                </div>
                <div>
                    <span>Conditions générales d’utilisation (CGU)</span>
                </div>
            </div>
        </div>
    </div>
</div>