<div class="fra__section-service-cards">
    <div class="fra__section-service-cards-title">
        <span>
            Mes qualités d'expert-comptable
        </span>
    </div>
    <div class="fra__section-service-cards-content" #divCard>
        <div class="fra__section-service-card fra__section-service-card-yellow">
            <div class="fra__section-service-card-icon fra__section-service-card-icon-yellow">
                <i class="pi pi-search-plus" style="color: #854D0E ;font-size: 1.5rem"></i>
            </div>
            <div class="fra__section-service-card-title">
                <span>Compréhension approfondie</span>
            </div>
            <div class="fra__section-service-card-description">
                <p>Je cerne vos besoins spécifiques en utilisant mes compétences en économie, fiscalité et droit de la
                    famille.</p>
            </div>
        </div>
        <div class="fra__section-service-card fra__section-service-card-red">
            <div class="fra__section-service-card-icon fra__section-service-card-icon-red">
                <i class="pi pi-heart" style="color: #991B1B ;font-size: 1.5rem"></i>
            </div>
            <div class="fra__section-service-card-title">
                <span>Sens du patrimoine</span>
            </div>
            <div class="fra__section-service-card-description">
                <p>Je donne une signification à votre patrimoine en vous accompagnant dans la réalisation de vos
                    objectifs
                    financiers et personnels.</p>
            </div>
        </div>
        <div class="fra__section-service-card fra__section-service-card-blue">
            <div class="fra__section-service-card-icon fra__section-service-card-icon-blue">
                <i class="pi pi-comments" style="color: #155E75 ;font-size: 1.5rem"></i>
            </div>
            <div class="fra__section-service-card-title">
                <span>Suivi en continue</span>
            </div>
            <div class="fra__section-service-card-description">
                <p>Je suis présent à chaque étape pour vous proposer des solutions innovantes qui répondent à vos
                    besoins.</p>
            </div>
        </div>
    </div>
</div>