<div class="send">
  <div class="send__core">
    <div class="send__title">Dernière étape pour recevoir une expertise !</div>
    <div class="send__question">
      Vous souhaitez recevoir l’analyse approfondie de votre dossier à l’adresse
      <div>
        <input
          type="text"
          pInputText
          placeholder="Adresse email"
          [(ngModel)]="dynamicFormService.userMail"
          (input)="updateUserMail()"
          [ngClass]="{ 'ng-invalid ng-dirty': emailError }"
        />
        <div *ngIf="emailError" class="error">{{ emailError }}</div>
      </div>

      @if(dynamicFormService.userMail) { et également
      <p-button
        label="{{ selectedContactTypeValues }}"
        [disabled]="true"
        severity="secondary"
      ></p-button>
      }
    </div>
  </div>
  <div class="send__content">
    @if ( dynamicFormService.userMail && dynamicFormService.userMail.length > 0)
    {
    <div *ngFor="let value of dynamicFormService.contactTypeValues">
      <p-toggleButton
        [(ngModel)]="value.selected"
        [disabled]="value.selected"
        (onChange)="selectContactTypeValue(value)"
        onLabel="{{ value.value }}"
        offLabel="{{ value.value }}"
      ></p-toggleButton>
    </div>
    } @if (this.contactByPhone) {
    <div style="display: flex; align-items: baseline">
      au numéro suivant :
      <div style="display: flex; flex-flow: column; margin-left: 1rem">
        <input
          type="text"
          pInputText
          placeholder="Numéro de téléphone"
          [(ngModel)]="dynamicFormService.userPhone"
          (input)="updateUserPhone()"
          [ngClass]="{ 'ng-invalid ng-dirty': phoneError }"
        />
        <div *ngIf="phoneError" class="error">{{ phoneError }}</div>
      </div>
    </div>
    }
  </div>
</div>

<div class="send__footer">
  <p-button
    icon="pi pi-send"
    iconPos="right"
    severity="help"
    label="Envoyer"
    (onClick)="send()"
  ></p-button>
  <p class="disclaimer">
    En soumettant ce formulaire, j’accepte que mes informations soient utilisées
    exclusivement dans le cadre de ma demande et de la relation commerciale
    éthique et personnalisée qui pourrait en découler si je le souhaite.
  </p>
</div>

<p-toast position="bottom-center" key="bc"></p-toast>
