<div class="property-assets">
  <div class="property-assets__core">
    <div class="property-assets__title">Votre patrimoine immobilier</div>
    <div class="property-assets__question">
      Vous êtes
      <p-button
        label="{{ selectedPropertyAssetsValue }}"
        [disabled]="selectedPropertyAssetsValue !== 'Propriétaire'"
        (onClick)="selectPropertyAssets()"
        severity="secondary"
      ></p-button>
      <ng-container *ngIf="selectedPropertyAssetsValue === 'Propriétaire'">
        d'
        <p-button
          label="{{ selectedPropertyTypeValue }}"
          (onClick)="selectPropertyType()"
          severity="secondary"
        ></p-button>
        , d’une valeur estimée a
        <p-button
          label="{{ selectedEstimateValue }}"
          [disabled]="!dynamicFormService.estimateIsSelected"
          (onClick)="selectEstimate()"
          severity="secondary"
        ></p-button>
      </ng-container>
    </div>
  </div>
  <div class="property-assets__content">
    <ng-container *ngIf="this.dynamicFormService.isOwner; else default">
      <ng-container *ngIf="dynamicFormService.propertyTypeIsSelected">
        <div *ngFor="let value of dynamicFormService.propertyTypeValues">
          <p-toggleButton
            [(ngModel)]="value.selected"
            [disabled]="value.selected"
            (onChange)="selectPropertyTypeValue(value)"
            onLabel="{{ value.value }}"
            offLabel="{{ value.value }}"
          ></p-toggleButton>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          dynamicFormService.estimateIsSelected &&
          !dynamicFormService.propertyFormIsCompleted
        "
      >
        <div *ngFor="let value of dynamicFormService.estimateValues">
          <p-toggleButton
            [(ngModel)]="value.selected"
            [disabled]="value.selected"
            (onChange)="selectEstimateValue(value)"
            onLabel="{{ value.value }}"
            offLabel="{{ value.value }}"
          ></p-toggleButton>
        </div>
      </ng-container>
      @if(this.dynamicFormService.estimateIsSelected &&
      dynamicFormService.propertyFormIsCompleted){
      <div>
        <p-checkbox
          [(ngModel)]="dynamicFormService.creditInProgress"
          [binary]="true"
          inputId="binary"
          (onChange)="changeCreditInProgress()"
        ></p-checkbox>
        <label for="binary"> Vous avez un crédit en court pour ce bien</label>
      </div>
      @if(dynamicFormService.creditInProgress){
      <div class="property-assets__payment">
        Avec une mensualité de
        <input
          type="number"
          pInputText
          placeholder="Saisir une valeur"
          (input)="changeMonthlyPaiement()"
          [(ngModel)]="dynamicFormService.monthlyPayment"
        />
        € par mois qui se termine le
        <p-calendar
          [(ngModel)]="dynamicFormService.endingPayment"
          [iconDisplay]="'input'"
          inputId="endingPayment"
          (onSelect)="changeMonthlyPaiement()"
          (onInput)="changeMonthlyPaiement()"
          [showIcon]="true"
        ></p-calendar>
      </div>
      } }
    </ng-container>
    <ng-template #default
      ><div *ngFor="let value of dynamicFormService.propertyAssetsValues">
        <p-toggleButton
          [(ngModel)]="value.selected"
          [disabled]="value.selected"
          (onChange)="selectPropertyAssetsValue(value)"
          onLabel="{{ value.value }}"
          offLabel="{{ value.value }}"
        ></p-toggleButton>
      </div>
    </ng-template>
  </div>
</div>
