<div class="fra__section-service-bluebox">
  <div class="fra__section-service-bluebox-content">
    <div class="fra__section-service-bluebox-top">
      <div class="fra__section-service-bluebox-top--left">
        <img src="../../../../../assets/vioc.svg" alt="img_form" />
      </div>
      <div class="fra__section-service-bluebox-top--right">
        <div class="fra__section-service-bluebox-title">
          <span>Une façon simple de partager vos besoins</span>
        </div>
        <div class="fra__section-service-bluebox-description">
          <p>
            Répondez au questionnaire pour une meilleure compréhension de vos
            besoins. Indiquez vos objectifs, votre situation professionnelle et
            familiale en toute simplicité.
          </p>
        </div>
        <div class="fra__section-service-bluebox-icons">
          <div class="fra__section-service-bluebox-icon">
            <i
              class="pi pi-check-circle"
              style="color: #67e8f9; font-size: 1.5rem"
            ></i>
            <span>Simple</span>
          </div>
          <div class="fra__section-service-bluebox-icon">
            <i
              class="pi pi-check-circle"
              style="color: #67e8f9; font-size: 1.5rem"
            ></i>
            <span>Rapide</span>
          </div>
          <div class="fra__section-service-bluebox-icon">
            <i
              class="pi pi-check-circle"
              style="color: #67e8f9; font-size: 1.5rem"
            ></i>
            <span>Sécurisé</span>
          </div>
        </div>
      </div>
    </div>
    <div class="fra__section-service-bluebox-bottom">
      <div class="fra__section-service-bluebox-bottom--left">
        <div class="fra__section-service-bluebox-title">
          <span>Un retour précis et personnalisé</span>
        </div>
        <div class="fra__section-service-bluebox-description">
          <p>
            Vos réponses a ce questionnaire me permettront de savoir si une
            étude plus poussée doit être menée afin de vous apporter toute la
            satisfaction que vous recherchez, avec un retour personnalisé par
            email. 
          </p>
        </div>
        <div class="fra__section-service-bluebox-button">
          <p-button
            label="Commencer ma simulation"
            icon="pi pi-bolt"
            severity="info"
            iconPos="right"
          ></p-button>
        </div>
      </div>
      <div class="fra__section-service-bluebox-bottom--right">
        <img src="../../../../../assets/fransix.svg" alt="img_form" />
      </div>
    </div>
  </div>
</div>
