.fra {
  &__section {
    &-service {
      &-bluebox {
        &-picture {
          width: 100%;
        }
        display: flex;
        padding: 128px 48px;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        gap: 8px;

        &-content {
          display: flex;
          width: 1280px;
          padding: 48px;
          flex-direction: column;
          align-items: flex-start;
          gap: 72px;
          align-self: stretch;
          border-radius: var(--11, 24px);
          background: var(--BlueGray-BlueGray-900, #0f172a);
        }

        &-top {
          display: flex;
          align-items: center;
          gap: 56px;
          align-self: stretch;

          &--left {
            border-radius: var(--8, 16px);
          }

          &--right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 32px;
            flex: 1 0 0;
          }
        }

        &-bottom {
          display: flex;
          align-items: center;
          gap: 56px;
          align-self: stretch;

          &--right {
            border-radius: var(--8, 16px);
          }

          &--left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 32px;
            flex: 1 0 0;
          }
        }

        &-title {
          color: var(--Base-White, #fff);
          font-family: Urbanist, sans-serif;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          align-self: stretch;
        }

        &-description {
          color: var(--BlueGray-BlueGray-400, #94a3b8);
          font-family: Urbanist, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
          align-self: stretch;
        }

        &-icons {
          flex: 1 0 0;
        }

        &-icon {
          display: flex;
          margin-top: 10px;
          align-items: center;

          span {
            margin-left: 16px;
            color: var(--Base-White, #fff);
            font-family: Urbanist, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .fra__section-service-bluebox-button {
    width: 100%;
  }
  
  .fra__section-service-bluebox-bottom--left {
    order: 2;
  }

  .fra__section-service-bluebox-bottom--right {
    order: 1;
  }

  .fra__section-service-bluebox-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 680px) and (max-width: 1023px) {
  .fra {
    &__section {
      &-service {
        &-bluebox {
          padding: var(--Component-Padding-6xLarge, 64px) var(--11, 24px);
          align-items: center;
          gap: 8px;
          &-content {
            display: flex;
            padding: 32px var(--11, 24px);
            flex-direction: column;
            align-items: flex-start;
            gap: 72px;
          }
          &-bottom,
          &-top {
            flex-direction: column;
            align-items: center;
            gap: 32px;
          }
        }
      }
    }
  }
}

@media (max-width: 679px) {
  .fra {
    &__section {
      &-service {
        &-bluebox {
          display: flex;
          padding: var(--Component-Padding-6xLarge, 64px) 16px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          &-content {
            display: flex;
            padding: 32px 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 72px;
            align-self: stretch;
            width: auto;
          }
          &-bottom,
          &-top {
            flex-direction: column;
            align-items: center;
            gap: 32px;
          }
        }
      }
    }
  }
}
