@import "primeicons/primeicons.css";
@font-face {
  font-family: "Urbanist";
  src: url("../src/assets/font/Urbanist/static/Urbanist-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
