<div class="dynamic-form">
  <div class="dynamic-form__header">
    <div class="dynamic-form__back-button">
      <p-button
        label="Retour"
        icon="pi pi-arrow-left"
        severity="info"
        size="small"
        (click)="back()"
      ></p-button>
    </div>
    <div class="dynamic-form__progressbar">
      <p-progressBar [value]="dynamicFormService.progress"></p-progressBar>
    </div>
  </div>
  <div class="dynamic-form__content"><router-outlet></router-outlet></div>
  @if(currentRouteIndex !== 10){
  <div class="dynamic-form__next-button">
    <p-button
      [disabled]="disabledNextButton()"
      label="Suivant"
      icon="pi pi-arrow-right"
      iconPos="right"
      severity="help"
      (click)="next()"
    ></p-button>
  </div>
  }@else {
  <div class="send__footer" style="width: 100%">
    <div>
      <p class="disclaimer">
        En soumettant ce formulaire, j’accepte que mes informations soient
        utilisées exclusivement dans le cadre de ma demande et de la relation
        commerciale éthique et personnalisée qui pourrait en découler si je le
        souhaite.
      </p>
    </div>
    <div>
      <p-button
        icon="pi pi-send"
        iconPos="right"
        severity="help"
        label="Envoyer"
        (onClick)="send()"
        [disabled]="dynamicFormService.disabledSendButton"
      ></p-button>
    </div>
  </div>
  }
</div>

<p-toast position="bottom-center" key="bc"></p-toast>
