<div class="dynamic-form">
  <div class="dynamic-form__header">
    <div class="dynamic-form__back-button">
      <p-button
        label="Retour"
        icon="pi pi-arrow-left"
        severity="info"
        size="small"
        (click)="back()"
      ></p-button>
    </div>
    <div class="dynamic-form__progressbar">
      <p-progressBar [value]="dynamicFormService.progress"></p-progressBar>
    </div>
  </div>
  <div class="dynamic-form__content"><router-outlet></router-outlet></div>
  <div class="dynamic-form__next-button">
    <p-button
      [disabled]="disabledNextButton()"
      label="Suivant"
      icon="pi pi-arrow-right"
      iconPos="right"
      severity="help"
      (click)="next()"
    ></p-button>
  </div>
</div>
