.fra {
  &__section {
    &-service {
      &-content {
        display: flex;
        padding: 128px 48px;
        justify-content: center;
        align-items: center;
        gap: var(--Component-Padding-6xLarge, 64px);
        align-self: stretch;

        &-core {
          display: flex;
          max-width: 1280px;
          align-items: center;
          align-content: center;
          gap: 64px var(--Component-Padding-6xLarge, 64px);
          flex: 1 0 0;
          flex-wrap: wrap;
        }

        &-bottom {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 4px;

          &-name {
            color: var(--BlueGray-BlueGray-900, #0f172a);
            font-family: Urbanist, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          &-def {
            color: var(--BlueGray-BlueGray-500, #64748b);
            font-family: Urbanist, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        &-description {
          display: flex;
          height: 495px;
          flex-direction: column;
          justify-content: space-between;
          flex: 1 0 0;

          &-divider {
            border: 2px solid #e2e8f0;
          }

          &-title {
            color: var(--BlueGray-BlueGray-900, #0f172a);
            font-family: Urbanist, sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          &-content {
            color: var(--BlueGray-BlueGray-500, #64748b);
            text-align: justify;
            font-family: Urbanist, sans-serif;
            font-size: 24px;
            font-style: italic;
            font-weight: 600;
            line-height: 170%;
            display: flex;
            gap: 11px;
          }
        }
      }
    }
  }
}

div.video-container {
  width: 100%;
  height: 100vh; /* vh stands for viewport height, 100vh will be 100% of the viewport height */
}

video {
  width: 100%;
  height: auto; /* This will maintain the aspect ratio of the video while making it as wide as its container */
}

.tablet,
.mobile {
  display: none;
}

@media screen and (min-width: 680px) and (max-width: 1023px) {
  .desktop {
    display: none;
  }

  .tablet {
    display: flex;
  }

  .mobile {
    display: none;
  }

  .fra {
    &__section {
      &-service {
        &-content {
          display: flex;
          padding: var(--Component-Padding-6xLarge, 64px) var(--11, 24px);
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;
          align-self: stretch;
          &-core {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            width: auto;
            align-self: stretch;
          }

          &-description {
            display: flex;
            align-items: normal;
            flex-direction: column;
            gap: 32px;
            height: auto;
            align-self: stretch;
          }
        }
      }
    }
  }
}

@media (max-width: 679px) {
  .fra__section-service-content-description-title {
    font-size: 32px;
  }

  .fra__section-service-content-description-content {
    font-size: 20px;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .fra {
    &__section {
      &-service {
        &-content {
          display: flex;
          padding: var(--Component-Padding-6xLarge, 64px) 16px;
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;
          align-self: stretch;
          &-core {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            width: auto;
            align-self: stretch;
          }

          &-description {
            display: flex;
            align-items: normal;
            flex-direction: column;
            gap: 32px;
            height: auto;
            align-self: stretch;
          }
        }
      }
    }
  }
}
