<div class="fra__section-service-content">
  <div class="fra__section-service-content-core">
    <div>
      <video controls poster="../../../../../assets/poster.png">
        <source src="../../../../../assets/video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="fra__section-service-content-description">
      <div class="fra__section-service-content-description-title">
        Expert en gestion de patrimoine engagé
      </div>
      <div class="fra__section-service-content-description-content">
        <div class="fra__section-service-content-description-divider"></div>
        <div>
          <span
            >Je suis un passionné de gestion de patrimoine convaincu que
            celui-ci va au-delà des chiffres. Mon but est d'accompagner mes
            clients dans la réalisation de leurs objectifs financiers, familiaux
            et professionnels, donnant ainsi un sens profond à leur
            patrimoine.</span
          >
        </div>
      </div>
      <div class="fra__section-service-content-bottom">
        <div class="fra__section-service-content-bottom-name">
          François Moiroux
        </div>
        <div class="fra__section-service-content-bottom-def">
          Gestionnaire de patrimoine
        </div>
      </div>
    </div>
  </div>
</div>
